---
import Slide from "../../components/Slide.astro";
import Card from "../../components/Card.astro";
import middlewareAuth from "../../assets/illustrations/middlewareAuth.png";
import middlewareHeaders from "../../assets/illustrations/middlewareHeaders.png";
import middlewarei18n from "../../assets/illustrations/middlewarei18n.png";
import middlewareFeatureFlip from "../../assets/illustrations/middlewareFeatureFlip.png";
---

<Slide
  title="Au-delà des APIs..."
  subtitle="d'autres usages des edge functions"
  animate={false}
>
  <Card>
    <h2>Vercel Middleware</h2>
    <img
      src="https://vercel.com/_next/image?url=%2Fstatic%2Fdocs%2Fconcepts%2Ffunctions%2Fedge-middleware-dark.png&w=3840&q=75"
      alt="Vercel middleware schema"
    />
    <a href="https://vercel.com/docs/concepts/functions/edge-middleware">
      https://vercel.com/docs/concepts/functions/edge-middleware
    </a>
  </Card>
</Slide>

<Slide
  title="Au-delà des APIs..."
  subtitle="Redirection i18n"
  animate={false}
>
  <img src={middlewareAuth} alt="code for middleware authentication" />
</Slide>

<Slide
  title="Au-delà des APIs..."
  subtitle="Modification de headers"
  animate={false}
>
  <img src={middlewareHeaders} alt="code for headers modification" />
</Slide>

<style>
  img {
    max-width: 120%;
    max-height: 105%;
    margin-top: -2%;
    justify-self: center;
  }

  h2 {
    font-size: 2rem;
  }

  a {
    color: lightgray;
    font-size: 0.8rem;
  }
</style>
